
<nav class="navbar navbar-light" style="background-color:white;padding:20px 15px;">
    <div class="container-fluid" style="margin-left:-5px">
        <a class="navbar-brand" asp-action="index" asp-controller="Home" style="width:100%;">
            <i style="font-size:22px" class="fa fa-angle-left "></i>
            <h4 style="margin-left: 20px; margin-top: 10px;  color: black; font-weight: 500;font-size:20px">
                ফুটবল স্টার মেগা কুইজ
            </h4>
        </a>
    </div>
</nav>
<div class="container-fluid mt-3">
    <div class="bannerImage" style="margin-top: 20px; margin-left: 6px; margin-right: 6px;">
        <img style="height:200px;width:100%" src="~/pagecontents/others/quizbannerbn.png" />
    </div>

    <div class="row" style="margin-top: 20px; margin-left: 6px; margin-right: 6px;">
        <h4 style="font-size:16px;padding-left:0px">ফুটবল স্টার মেগা কুইজ!</h4>
        <div class="card mt-2" style="border-radius:8px;">
            <div class="card-body" style="padding-left: 8px;">
                <div class="row">
                    <span><img style="height: 20px;" src="~/pagecontents/icon/time.svg" /><span style="margin-left: 12px;font-weight:400">সময় : ২৫ সেঃ  </span></span>
                </div>
                <div class="row mt-3">
                    <span><img style="height: 20px;" src="~/pagecontents/icon/star.svg" /><span style="margin-left: 8px;font-weight:400"> কুইজ : ৫ </span></span>
                </div>
                <div class="row mt-3">
                    <span><img style="height: 20px;" src="~/pagecontents/icon/gift.svg" /><span style="margin-left: 12px;font-weight:400">পুরস্কার :    </span> </span>
                </div>
            </div>
        </div>
        <a asp-action="Index" asp-controller="QuizQuestion" style="background-color:rgba(236, 6, 19, 1);color:white;padding:10px;border-radius:8px" class="btn mt-3">এখনই খেলুন</a>
    </div>


    <div class="row" style="margin-top: 20px; margin-left: 6px; margin-right: 6px; padding: 2px 2px 10px 2px;">
        <h4 style="font-size:16px;padding-left:0px">পুরস্কার</h4>

        <div class="card mt-2" style="border-radius:8px;background-color:#FFF2EE">
            <div class="card-body" style="padding-left: 8px;">
                <div class="row">
                    <div class="col-8" style="padding-top: 15px;">
                        <img src="~/pagecontents/prize/prize1.svg" />
                        <h4 style="font-size:15px;font-weight:600;margin-top:15px">World Cup 2022 Ticket</h4>
                    </div>
                    <div class="col-4">
                        <img src="~/pagecontents/prize/firstprize.png" />
                    </div>
                </div>

            </div>
        </div>

        <div class="card mt-2" style="border-radius:8px;background-color:#FFF2EE">
            <div class="card-body" style="padding-left: 8px;">
                <div class="row">
                    <div class="col-8" style="padding-top: 15px;">
                        <img src="~/pagecontents/prize/prize2.svg" />
                        <h4 style="font-size:15px;font-weight:600;margin-top:15px">Samsung Galaxy A52s</h4>
                    </div>
                    <div class="col-4">
                        <img src="~/pagecontents/prize/secondprize.png" />
                    </div>
                </div>

            </div>
        </div>
        

    </div>
</div>
<div class="row g-2" style="padding: 13px 25px 13px 25px;text-align: center;font-size: 10px;font-weight: 400;background-color: #EEEEEE;">
    <div class="col">
        <span>
            Powered by
            <img src="~/pagecontents/icon/shadhin_quiz_icon.svg" />
            <b>Shadhin Quiz</b> | <b>Nagad</b> is a sponsor & promoter only.
        </span>
    </div>
</div>